@use '../abstracts' as *;

// Header styles
.header {
  position: sticky;
  top: 0;
  z-index: 2000;
  box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.25);

  @include respond($bp-lg) {
    position: unset;
  }
}
