// Navigation bar styles
.nav-bar {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  align-items: center;
  height: 7.2rem;
  padding: 0 3.2rem;
  background-color: var(--color-primary);
  border-radius: 0.9rem;
}

// *******
.logo {
  display: flex;
  align-items: center;
  gap: 0.8rem;

  span {
    font-size: 3.2rem;
  }

  h1 {
    font-size: 2.4rem;
    font-weight: 600;
    color: #fff;
  }
}

// *******
.search {
  justify-self: center;
  border: none;
  padding: 1.1rem 1.6rem;
  font-size: 1.8rem;
  border-radius: 0.7rem;
  width: 40rem;
  transition: all 0.3s;
  color: var(--color-text);

  /* background-color: var(--color-background-900); */
  background-color: var(--color-primary-light);

  &::placeholder {
    color: var(--color-text-dark);
  }

  &:focus {
    outline: none;
    box-shadow: 0 2.4rem 2.4rem rgba(0, 0, 0, 0.1);
    transform: translateY(-2px);
  }
}

.num-results {
  justify-self: end;
  font-size: 1.8rem;
}
