@use '../abstracts' as *;

.btn-toggle {
  @include flex-center;
  position: absolute;
  top: 0.8rem;
  right: 2rem;
  height: 2.4rem;
  aspect-ratio: 1;
  border-radius: 50%;
  border: none;
  background-color: var(--color-background-900);
  color: var(--color-text);
  font-size: 1.4rem;
  font-weight: bold;
  cursor: pointer;
  z-index: 999;
}

.btn-add {
  background-color: var(--color-primary);
  color: var(--color-text);
  border: none;
  border-radius: 10rem;
  font-size: 1.4rem;
  padding: 1rem;
  font-weight: bold;
  cursor: pointer;
  transition: all 0.3s;

  &:hover {
    background-color: var(--color-primary-light);
  }
}

.btn-back {
  position: absolute;
  top: 0.6rem;
  left: 0.6rem;
  height: 3.2rem;
  aspect-ratio: 1;
  border-radius: 50%;
  border: none;
  /* background-color: var(--color-text); */
  background-color: #fff;
  color: var(--color-background-500);
  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.8);
  font-family: sans-serif;
  font-size: 2.4rem;
  font-weight: bold;
  cursor: pointer;
  z-index: 999;
  display: flex;
  align-items: center;
  justify-content: center;
}

.btn-delete {
  position: absolute;
  right: 1.2rem;
  top: 50%;
  transform: translateY(-50%);

  height: 2.6rem;
  width: 2.6rem;

  border-radius: 50%;
  border: 1px solid var(--color-red);

  background: rgba(250, 82, 82, 0.15);
  color: var(--color-red);

  font-size: 1.2rem;
  font-weight: 700;

  cursor: pointer;
  opacity: 0;

  transition: all 0.25s ease;

  display: flex;
  align-items: center;
  justify-content: center;

  cursor: pointer;
}

.btn-delete:hover {
  background: rgba(250, 82, 82, 0.25);
  color: #fff;
  transform: translateY(-50%) scale(1.05);
}
