@use '../abstracts' as *;

.summary {
  padding: 2.2rem 3.2rem 1.8rem 3.2rem;
  margin: 1rem;
  border-radius: 0.9rem;
  background-color: var(--color-background-100);
  box-shadow: 0 1.2rem 2.4rem rgba(0, 0, 0, 0.2);

  h2 {
    text-transform: uppercase;
    font-size: 1.6rem;
    margin-bottom: 1.6rem;
    text-align: center;

    @include respond($bp-lg) {
      text-align: left;
      margin-bottom: 0.6rem;
    }
  }

  p {
    display: flex;
    align-items: center;
    gap: 0.8rem;
  }

  div {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 1.2rem;
    align-items: center;
    font-size: 1.6rem;
    font-weight: 600;

    @include respond($bp-lg) {
      display: flex;
    }
  }
}
