@mixin flex-center {
  display: flex;
  align-items: center;
  justify-content: center;
}

@mixin flex-column {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

@mixin flex-gap($gap) {
  display: flex;
  gap: $gap;
}

@mixin flex-column-gap($gap) {
  display: flex;
  flex-direction: column;
  gap: $gap;
}

@mixin flex-row-gap($gap) {
  display: flex;
  gap: $gap;
}

@mixin flex-align-gap($align, $gap) {
  display: flex;
  align-items: $align;
  gap: $gap;
}

@mixin flex-column-space-between {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

// Media Query Mixin
@mixin respond($breakpoint) {
  @media (min-width: $breakpoint) {
    @content;
  }
}
