$radius-sm: 4px;
$radius-md: 8px;
$radius-lg: 16px;

$spacing-xs: 0.25rem;
$spacing-sm: 0.5rem;
$spacing-md: 1rem;
$spacing-lg: 2rem;
$spacing-xl: 4rem;

$spacing-24: 2.4rem;
$spacing-32: 3.2rem;
$spacing-48: 4.8rem;

$font-main: 'Rubik', system-ui, sans-serif;

$font-size-10: 1rem; // 10px
$font-size-12: 1.2rem; // 12px
$font-size-14: 1.4rem; // 14px
$font-size-16: 1.6rem; // 16px
$font-size-18: 1.8rem; // 18px
$font-size-20: 2rem; // 20px
$font-size-24: 2.4rem; // 24px
$font-size-30: 3rem; // 30px
$font-size-36: 3.6rem; // 36px
$font-size-44: 4.4rem; // 44px

// Breakpoints
$bp-xs: 480px;
$bp-sm: 640px;
$bp-md: 768px;
$bp-lg: 1024px;
$bp-xl: 1200px;
$bp-2xl: 1400px;

/*
SPACING SYSTEM (px)
2 / 4 / 8 / 12 / 16 / 24 / 32 / 40 / 48 / 64 / 80 / 96 / 128

FONT SIZE SYSTEM (px)
10 / 12 / 14 / 16 / 18 / 20 / 24 / 30 / 36 / 44 /52 / 62 / 74 / 86 / 98
*/
