$radius-sm: 4px;
$radius-md: 8px;
$radius-lg: 16px;

$spacing-xs: 0.25rem;
$spacing-sm: 0.5rem;
$spacing-md: 1rem;
$spacing-lg: 2rem;
$spacing-xl: 4rem;

$spacing-24: 2.4rem;
$spacing-32: 3.2rem;
$spacing-48: 4.8rem;

$font-main: 'Rubik', system-ui, sans-serif;
