:root,
html[data-theme='dark'] {
  --color-primary: #6741d9;
  --color-primary-light: #7950f2;

  --color-text: #dee2e6;
  --color-text-dark: #adb5bd;

  --color-background-100: #343a40;
  --color-background-500: #2b3035;
  --color-background-900: #212529;

  --color-red: #fa5252;
  --color-red-dark: #e03131;

  --color-yellow: #fcc419;

  --color-border: rgba(255, 255, 255, 0.12);
  --color-list-background: rgba(255, 255, 255, 0.04);

  --color-rating: #fcc419;

  --color-scrollbar-thumb: rgba(255, 255, 255, 0.25);
  --color-scrollbar-thumb-hover: rgba(255, 255, 255, 0.35);
}
