html[data-theme='light'] {
  --color-primary: #a48de8;
  --color-primary-light: #b3a0ec;

  --color-text: #212529;
  --color-text-dark: #495057;

  --color-background-100: #f1f3f5;
  --color-background-500: #ffffff;
  --color-background-900: #e9ecef;

  --color-red: #fa5252;
  --color-red-dark: #e03131;

  --color-yellow: #fcc419;

  --color-border: rgba(0, 0, 0, 0.12);
  --color-list-background: rgba(0, 0, 0, 0.04);

  --color-rating: #f59f00;

  --color-scrollbar-thumb: rgba(178, 178, 180, 0.35);
  --color-scrollbar-thumb-hover: rgba(178, 178, 180, 0.45);
}
