html[data-theme='light'] {
  --color-primary: #6741d9;
  --color-primary-light: #7950f2;

  --color-text: #212529;
  --color-text-dark: #495057;

  --color-background-100: #f1f3f5;
  --color-background-500: #ffffff;
  --color-background-900: #e9ecef;

  --color-red: #fa5252;
  --color-red-dark: #e03131;

  --color-yellow: #fcc419;
}
