html[data-theme='light'] {
  --color-primary: #a48de8;
  --color-primary-light: #b3a0ec;

  --color-text: #212529;
  --color-text-dark: #495057;

  --color-background-100: #f1f3f5;
  --color-background-500: #ffffff;
  --color-background-900: #e9ecef;

  --color-red: #fa5252;
  --color-red-dark: #e03131;
  --color-yellow: #fcc419;

  --color-border: rgba(0, 0, 0, 0.12);
}
