@use '../abstracts' as *;

html {
  font-size: 62.5%;
}

body {
  font-family: $font-main;
  background-color: var(--color-background-900);
  color: var(--color-text);
  margin: 0;
  padding: $spacing-24;
}

#root {
  @include flex-column-space-between;
  min-height: 100vh;
}
